<div class="container">
  <div class="row col-xs-12 text-center">
    <h2>Now Showing:</h2>
  </div>
  <div class="row movies-container">
    <% @movies.each do |movie| %>
      <div class="col-md-4 movie-thumbnail">
        <div class="movie-thumbnail-image-index text-center">
          <%= image_tag movie.image, alt: movie.title, class: "movie-image" %>
          <div class="movie-showtime-info">
            <h4><%= movie.title %></h4>
            <p>Showtimes</p>
            <% movie.showtimes.each do |showtime| %>
              <div class="col-xs-4">
                <p>
                  <% if sold_out(showtime) %>
                    <strong>sold out</strong>
                  <% else %>
                    <%= link_to movie_showtime_path(movie, showtime) do %>
                      <%= to_strftime(showtime) %>
                    <% end %>
                  <% end %>
                </p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

