body {
  background: $lightgrey;
  padding: 20px;
}

.body-panel {
  background: #FFF;
  padding: 20px;
}

.header-logo {
  color: $red;
  h1 {
    font-weight: 300;
  }
  hr {
    width: 50%;
  }
}

.nav-links {
  list-style: none;
  li {
    display: inline-block;
    margin-right: 20px;
    a {
      color: $red;
      &:hover {
        text-decoration: none;
        color: darken($red, 20%);
      }
    }
  }
}

.btn {
  border-radius: 0px;
  border: 0px;
}

.btn-primary {
  background: $red;
  border-bottom: 2px solid darken($red, 10%);
  &:hover {
    background: darken($red, 10%);
    border-bottom: 2px solid $red;
  }
}
