/* iPhone screen media query (min is iPhone 4, max iPhone 6) */

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

  // Layout

  .header-logo {
    h1 {
      font-size: 72px;
    }
    li {
      font-size: 28px;
    }
  }

  // Movies

  .now-showing-header {
    h2 {
      font-size: 60px;
    }
  }

  .select-showtime-date {
    font-size: 28px;
    height: 60px;
  }

  .movie-thumbnail-image-index {
    height: 500px;
    h4 {
      font-size: 80px;
    }
    p {
      font-size: 60px;
    }
  }

  .movie-showtime-info {
    p {
      font-size: 60px;
    }
  }

  // Showtime

  .verify-age-modal {
    font-size: 28px;
    margin: 50px -150px;
    h4 {
      font-size: 32px;
    }
    select {
      height: 60px;
      font-size: 28px;
    }
  }

  .verify-age-button {
    font-size: 48px;
    width: 100%;
  }

  .not-old-enough-message {
    h4 {
      font-size: 32px;
    }
    a {
      margin-left: 0px;
      margin-top: 20px;
    }
  }

  // Orders

  .edit-order-page {
    font-size: 28px;
  }

  .showtime-summary {
    font-size: 28px;
    p {
      margin: 50px 0;
    }
    select {
      font-size: 28px;
      height: 60px;
    }
  }

  .edit-ticket-order-form {
    input {
      height: 60px;
    }
    select {
      font-size: 28px;
      height: 60px;
    }
    .submit-ticket-order-button {
      height: 100px;
      margin-bottom: 50px;
    }
  }

  .order-summary {
    font-size: 28px;
  }

  .orders-index-header {
    p {
      font-size: 44px;
    }
    li {
      display: block;
      font-size: 28px;
    }
  }

  .orders-table-type-header {
    h3 {
      font-size: 44px;
    }
  }

  .orders-table {
    font-size: 32px;
  }
}

// Misc Utility

  .add-ticket-button,
  .submit-ticket-order-button,
  .back-to-movies-button {
    font-size: 60px;
    margin: 10px 0;
    width: 100%;
  }

