/* Index Page */

.now-showing-header {
  h2 {
    font-weight: 300;
    margin-bottom: 50px;
  }
}

.movie-thumbnail {
  margin: 0px;
  padding: 0px;
  img {
    width: 100%;
    opacity: 0.4;
  }
}

.movie-showtime-info {
  color: #FFF;
  position: absolute;
  top: 0;
  width: 100%;
  p {
    font-size: 32px;
    font-weight: 300;
    a {
      color: #FFF;
      text-decoration: none;
    }
  }
}

.showtime-index {
  display: none;
  padding-top: 50px;
}

.movie-thumbnail-image-index {
  background: rgba(0,0,0,0.9);
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  h4 {
    font-size: 40px;
    font-weight: 300;
    padding: 10px;
  }
}

/* Show Page */

.movie-thumbnail-image-show {
  padding: none;
  overflow: hidden;
  height: 400px;
  margin-bottom: 20px;
  img {
    width: 100%;
  }
}
